<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/vnd.microsoft.icon" sizes="16x16" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Video-Game-Controller-Icon.svg/2000px-Video-Game-Controller-Icon.svg.png">
    <title>Angular Recruit! We Give You The Best..</title>

    <!-- Scripts started from here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>

    <script>
        $(document).ready(function () {
            $("#loader").hide();
        });
    </script>
    <!-- /* Styles started from here */ -->
    <style>
        .container-fluid {
            width: 100%;
            height: 100%;
            background-color: rgb(109, 217, 231);
        }

        footer {
            position: fixed;
            height: 100px;
            bottom: 0;
            width: 100%;
        }

        .loader {
            border: 16px solid #91f8ff;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<?php include('server.php'); ?>
<body>

    <div class="container-fluid" style="padding:150px; ">
        <div class="content ">

            <div class="form-group row text-center">

                <h1>
                    <font face="Verdana">Angular Recruit</font>
                </h1>
                <h3>
                    <font face="Monotype Corsiva">....we give you the best....</font>
                </h3>
            </div>
            <div class="panel panel-info col-md-4 col-md-offset-4">
                <div class="panel-heading">Job Seekers Login Here</div>
                <div class="panel-body" style="padding-bottom:2px">
                    <form>
                        <div class="form-group row">
                            <div class="col-xs-13">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                        </div>
                        <div class="form-group row" ng-controller="pass">
                            <div class="col-xs-13">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="message">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-model="hidePass">
                                <label class="form-check-label" for="exampleCheck1">show password</label>
                                <label class="form-check-label" style="cursor:pointer" data-popup="tooltip" title="Forgot Password" data-toggle="modal" data-target="#forgotPassModal">Forgot Password</label>
                                <label class="form-check-label" style="cursor:pointer" data-toggle="modal" data-target="#createAcModal">Create Account</label>
                                <small id="emailHelp" class="form-text text-muted" ng-show="hidePass">{{ message }}</small>
                            </div>
                        </div>
                        <!-- this for forgot password modal -->
                        <div class="modal fade" id="forgotPassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Recover Password</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div>

                                    </div>
                                    <div class="modal-body">
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Enter Registered Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Security Question</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>What is your nick name?</option>
                                                <option>What is your nick name?</option>
                                                <option>What is your nick name?</option>
                                                <option>What is your nick name?</option>
                                                <option>What is your nick name?</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Enter Your Answer</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Be Careful - Your Answer is case Sensitive">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- this is for new account modal -->
                        <div class="modal fade" id="createAcModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">New Account</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">First Name</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Last Name</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="This will be your username">
                                        </div>
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Password</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password">
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Re-enter Password">
                                        </div>
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Security Question</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select Question">
                                        </div>
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Answer</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Upload Profile Photo</label>
                                            <input type="file" name="pic" accept="image/*">
                                        </div>
                                        <div class="col-xs-13">
                                            <label for="exampleInputEmail1">Captcha</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- controller used "test" -->
                        <div class="form-group row" style="padding-bottom: -20px" ng-controller="test">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Keep Me Logged In ...</label>
                            </div>
                            <button type="submit" class="btn btn-primary" id="login">Login</button>
                        </div>

                    </form>

                </div>

            </div>
            <div class="loader" id="loader" style="margin:auto;"></div>
        </div>
    </div>
    </div>
</body>

</html>